@keyframes card-flip{
     0%{
          transform: rotateX(0deg);
          perspective: 600px;
     }

     50%{
          perspective: 400px;
     }

     100%{
          transform: rotateX(0.5turn);
          perspective: 600px;
     }
}

@keyframes slide-up{
     from{
          transform: translateY(0);
     }
     to {
          transform: translateY(-165px);
     }
}

@keyframes slide-down{
     from{
          transform: translateY(-165px);
     }
     to {
          transform: translateY(0);
     }
}


.animate-card{
     animation-name: card-flip;
     animation-timing-function: ease-in;
     animation-duration: 0.5s;
}

.animate-dd-up{
     animation-name: slide-up;
     animation-timing-function: ease-out;
     animation-duration: 0.5s;
     animation-fill-mode: forwards;
}

.animate-dd-down{
     animation-name: slide-down;
     animation-timing-function: ease-out;
     animation-duration: 0.5s;
     animation-fill-mode: forwards;
}