@use "./variables" as *;
@use "./mixins" as *;
@use "./extends" as *;
@use "./animations" as *;

.launch{
     width: 100%;
     height: 100vh;
     background: url("../images/bg-stars.svg"), linear-gradient(180deg, $darkest-accent 20%, $footer);
     background-position: center;
     background-repeat: no-repeat;
     @include flex(column, center);

     &__header{
          @extend %main-header;
          margin: 0 0 spaceIncr(9);
     }

     &__container{
          height: 70vh;
          @include flex(column, center,center);
          padding: spaceIncr(7) spaceIncr(7) 0;
     }

     &__time-container{
          @include flex(row,space-between);
          width: 100%;
     }
}

.set-time{
     width:80vw;
     position: fixed;
     top: 0;
     left: calc(50% - (80vw / 2));
     padding: spaceIncr(3) spaceIncr(3) spaceIncr();
     background-color: $drop-down-bg;
     border-bottom-left-radius: 2.5px;
     border-bottom-right-radius: 2.5px;
     transition: transform 0.5s ease-out;

     &__toggle-view{
          display: block;
          padding:  0 spaceIncr();
          @include flex(row,space-between, center);
          margin-top: spaceIncr();
          border: 1px solid transparent;
          border-radius: 2.5px;

          &:hover{
               border: 1px solid $btn-active;
          }
      
          &:focus{
               border: 1px solid $btn-active;
               outline: none;
          }
     
          &:active{
               background-color: $btn-active;
               border: 1px solid $btn-border;
               outline: none;
          }
     }

     &__img{
          width: 30px;
          height: 30px;
     }
}

.form{
     @include flex(column);

     &__label{
          @extend %label-text;
          margin: 0 0 spaceIncr(1);
     }

     &__date{
          @extend %input-base;
          margin-bottom: spaceIncr(2);
     }

     &__time{
          @extend %input-base;
          margin-bottom: spaceIncr(2);
     }
}

.time{
     flex-shrink: 0;
     flex-basis: 21%;
     @include flex(column);
     overflow: hidden;

     &__container{
          width: 100%;
          height: 60px; //To make this responsive
          @include flex(column, center);
          position: relative;
     }

     &__panel{
          width: 100%;
          height: 50%;
          overflow: hidden;
          position: relative;

          &--top{
               border-top-left-radius: 5px;
               border-top-right-radius: 5px;
               @extend %card-indents-bottom;
               background-color: $card-upper;
          }

          &--bottom{
               border-bottom-left-radius: 5px;
               border-bottom-right-radius: 5px;
               background-color: $card-lower;
               @extend %card-indents-top;
          }
     }

     &__text{
          position: absolute;
          width: 100%;
          height: 200%;
          @include flex(row,center,center);
          @extend %time-text;
          margin: 0;

          &--top{
               top: 0;
               left: 0;
          }

          &--bottom{
               bottom: 0;
               left: 0;
          }
     }

     &__header{
          @extend %time-header;
          margin: spaceIncr(3) 0 0;
     }
}


.flip-panel{
     position: absolute;
     width: 100%;
     height: 50%;
     top:0;
     left:0;
     transform-style: preserve-3d;
     transform-origin: bottom center;
     perspective: 600px;
     z-index: 1;

     &__face{
          width: 100%;
          height: 100%;
          position:absolute;
          backface-visibility: hidden;
          overflow: hidden;

          &--back{
               transform: rotateX(180deg);
               @extend %card-indents-top;
               background-color: $card-lower;
               border-bottom-left-radius: 5px;
               border-bottom-right-radius: 5px;
          }

          &--front{
               @extend %card-indents-bottom; 
               background-color: $card-upper;
               border-top-left-radius: 5px;
               border-top-right-radius: 5px;
          }
     }
}


.footer{
     background-image: url("../images/pattern-hills.svg");
     background-position: 80%;
     background-repeat: no-repeat;
     background-size: cover;
     height: 30vh;
     padding: spaceIncr(7);
     @include flex(column, flex-end, center, wrap);

     &__social-container{
          @include flex(row, center);
     }

     &__link{
          @include flex();
          margin: 0 spaceIncr(3);
     }

     &__icon{
          width: 25px;
          height: 25px;

          path{
               fill: $icons;
          }

          &:hover{
               path{
                    fill: $icons-hover;
               }
          }
     }
}