@use "./variables" as *;
@use "./mixins" as *;

%main-header{
     color: $default-light;
     font-size: 1.15rem;
     letter-spacing: 0.3rem;
     font-weight: 700;
     text-align: center;

     @include tablet{
          font-size: 1.3rem;
          letter-spacing: 0.4rem;
     }

     @include desktop{
          font-size: 1.5rem;
          letter-spacing: 0.5rem;
     }
}

%time-header{
     color: $secondary-text;
     font-size: 0.45rem;
     letter-spacing: 0.18rem;
     font-weight: 700;
     text-align: center;

     @include tablet{
          font-size: 0.675rem;
          letter-spacing: 0.25rem;
     }

     @include desktop{
          font-size: 0.9rem;
          letter-spacing: 0.35rem;
     }
}

%time-text{
     color: $primary-text;
     font-size: 2rem;
     letter-spacing: 0.01rem;
     font-weight: 700;

     @include tablet{
          font-size: 3.5rem;
          letter-spacing: 0.025rem;
     }

     @include desktop{
          font-size: 4.75rem;
          letter-spacing: 0.05rem;
     }
}

%label-text{
     color: $secondary-text;
     font-size: 0.8rem;
     letter-spacing: 0.01rem;
     font-weight: 700;

     @include tablet{
          font-size: 0.95rem;
          letter-spacing: 0.05rem;
     }

     @include desktop{
          font-size: 1.15rem;
          letter-spacing: 0.05rem;
     }
}

%btn-text{
     color: $default-light;
     font-size: 0.8rem;
     letter-spacing: 0.1rem;
     font-weight: 700;
     @include tablet{
          font-size: 0.95rem;
          letter-spacing: 0.05rem;
     }

     @include desktop{
          font-size: 1.15rem;
          letter-spacing: 0.05rem;
     }
}

%input-text{
     font-family: inherit;
     font-weight: 400;
     font-size: 0.7rem;
     color: $default-light;
     @include tablet{
          font-size: 0.85rem;
     }

     @include desktop{
          font-size: 1rem;
     }
}

%card-indents-bottom{
     &::before{
          content: "";
          display: block;
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: black;
          bottom: -3px;
          right: -3px;
     }

     &::after{
          content: "";
          display: block;
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: black;
          bottom: -3px;
          left: -3px;
     }
}

%card-indents-top{
     &::before{
          content: "";
          display: block;
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: black;
          top: -3px;
          right: -3px;
     }

     &::after{
          content: "";
          display: block;
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: black;
          top: -3px;
          left: -3px;
     }
}

%input-base{
     background-color: $light-accent;
     border: 1px solid $light-accent;
     outline: none;
     padding: spaceIncr(1) spaceIncr(2);
     border-radius: 2.5px; 
     @extend %input-text;

     &:focus{
          border: 1px solid $btn-active;
          outline: none;
          border-radius: 2.5px; 
     }

     &:active{
          border: 1px solid $btn-border;
          outline: none;
          border-radius: 2.5px;
     }
}