// Primary colour variables
$default-light: hsl(0, 0%, 100%);
$primary-text: hsl(345, 95%, 68%);
$secondary-text: hsl(237, 18%, 59%);
$light-accent: hsl(236, 21%, 26%);
$darker-accent: hsl(235, 16%, 14%);
$darkest-accent: hsl(234, 17%, 12%);