*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
}

.launch__header {
  color: white;
  font-size: 1.15rem;
  letter-spacing: 0.3rem;
  text-align: center;
}

.time__header {
  color: #8486a9;
  font-size: 0.45rem;
  letter-spacing: 0.18rem;
  text-align: center;
}

.time__text {
  color: rgba(251, 96, 135, 0.7);
  font-size: 2rem;
  letter-spacing: 0.01rem;
}

.time__panel--top::before, .flip-panel__face--front::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  bottom: -3px;
  right: -3px;
}
.time__panel--top::after, .flip-panel__face--front::after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  bottom: -3px;
  left: -3px;
}

.time__panel--bottom::before, .flip-panel__face--back::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  top: -3px;
  right: -3px;
}
.time__panel--bottom::after, .flip-panel__face--back::after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  top: -3px;
  left: -3px;
}

@-webkit-keyframes card-flip {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(0.5turn);
  }
}

@keyframes card-flip {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(0.5turn);
  }
}
.animate {
  -webkit-animation-name: card-flip;
          animation-name: card-flip;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.launch {
  width: 100%;
  height: 100vh;
  background: url("../images/bg-stars.svg"), linear-gradient(180deg, #191a24 20%, #30243a);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
}
.launch__header {
  margin: 0 0 45px;
}
.launch__container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 35px 35px 0;
}
.launch__time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
}

.time {
  flex-shrink: 0;
  flex-basis: 21%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  overflow: hidden;
}
.time__container {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  position: relative;
}
.time__panel {
  width: 100%;
  height: 50%;
  overflow: hidden;
  position: relative;
}
.time__panel--top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #2c2c44;
}
.time__panel--bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #343650;
}
.time__text {
  position: absolute;
  width: 100%;
  height: 200%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
}
.time__text--top {
  top: 0;
  left: 0;
}
.time__text--bottom {
  bottom: 0;
  left: 0;
}
.time__header {
  margin: 15px 0 0;
}

.flip-panel {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: bottom center;
  perspective: 600px;
  z-index: 1;
}
.flip-panel__face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}
.flip-panel__face--back {
  transform: rotateX(180deg);
  background-color: #343650;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.flip-panel__face--front {
  background-color: #2c2c44;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.footer {
  background-image: url("../images/pattern-hills.svg");
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.footer__social-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
}
.footer__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin: 0 15px;
}
.footer__icon {
  width: 25px;
  height: 25px;
}
.footer__icon path {
  fill: #8486a9;
}
.footer__icon:hover path {
  fill: #fb6087;
}/*# sourceMappingURL=main.css.map */