*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
}

.launch__header {
  color: white;
  font-size: 1.15rem;
  letter-spacing: 0.3rem;
  text-align: center;
}

.time-card__title {
  color: #8486a9;
  font-size: 0.45rem;
  letter-spacing: 0.18rem;
  text-align: center;
}

.time-card__text {
  color: rgba(251, 96, 135, 0.7);
  font-size: 2rem;
  letter-spacing: 0.01rem;
}

.time-card__panel--front::before, .time-card__upper::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  bottom: -3px;
  right: -3px;
}
.time-card__panel--front::after, .time-card__upper::after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  bottom: -3px;
  left: -3px;
}

.time-card__panel--back::before, .time-card__lower::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  top: -3px;
  right: -3px;
}
.time-card__panel--back::after, .time-card__lower::after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  top: -3px;
  left: -3px;
}

@-webkit-keyframes card-flip {
  from {
    transform: translateZ(0) rotateX(0deg);
    perspective: 500px;
  }
  to {
    transform: translateZ(100px) rotateX(0.5turn);
    perspective: 500px;
  }
}

@keyframes card-flip {
  from {
    transform: translateZ(0) rotateX(0deg);
    perspective: 500px;
  }
  to {
    transform: translateZ(100px) rotateX(0.5turn);
    perspective: 500px;
  }
}
.launch {
  width: 100%;
  height: 100vh;
  background: url("../images/bg-stars.svg"), linear-gradient(180deg, #191a24 20%, #30243a);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
}
.launch__header {
  margin: 0 0 45px;
}
.launch__container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 35px 35px 0;
}
.launch__time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
}

.time-card {
  flex-shrink: 0;
  flex-basis: 21%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  overflow: hidden;
  transform-style: preserve-3d;
}
.time-card__container {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  position: relative;
  transform-style: preserve-3d;
}
.time-card__dynamic-panel {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  transform-style: preserve-3d;
  transform-origin: bottom center;
  perspective: 500px;
}
.time-card__dynamic-panel:active {
  -webkit-animation-name: card-flip;
          animation-name: card-flip;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.time-card__panel {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #2c2c44;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.time-card__upper {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #2c2c44;
  width: 100%;
  height: 50%;
  overflow: hidden;
  position: relative;
}
.time-card__lower {
  width: 100%;
  height: 50%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #343650;
  overflow: hidden;
  position: relative;
}
.time-card__text {
  position: absolute;
  width: 100%;
  height: 200%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
}
.time-card__text--upper {
  top: 0;
  left: 0;
}
.time-card__text--lower {
  bottom: 0;
  left: 0;
}
.time-card__title {
  margin: 15px 0 0;
}

.footer {
  background-image: url("../images/pattern-hills.svg");
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.footer__social-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
}
.footer__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin: 0 15px;
}
.footer__icon {
  width: 25px;
  height: 25px;
}
.footer__icon path {
  fill: #8486a9;
}
.footer__icon:hover path {
  fill: #fb6087;
}/*# sourceMappingURL=main.css.map */